{
    "app": {
        "name": "SIGA-UNU",
        "descripcion": "",
        "version": "1.0",
        "logo": "/img/logo-unu.png",
        "theme": "default",
        "env": "local",
        "css": ""
    },
    "url": {
        "API_AUTHENTICATION": "http://localhost:3333",
        "API_UNUJOBS": "http://localhost:8000/api/v1"
    },
    "ws": {
        "API_AUTHENTICATION": "ws://localhost:3333"
    },
    "credencials": {
        "CLIENT_ID": "",
        "CLIENT_SECRET": ""
    },
    "apps" : [
        
    ]
}