{
    "app": {
        "name": "SIGA-UNU",
        "descripcion": "",
        "logo": "/img/logo-unu.png",
        "theme": "default",
        "env": "local",
        "css": "/css/semantic-ui.css",
        "css_prod": "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"
    },
    "url": {
        "API_AUTHENTICATION": "http://127.0.0.1:3333",
        "API_UNUJOBS": "http://localhost:8000/api/v1",
        "API_ESCALAFON": "http://localhost:8000/api/v1/escalafon",
        "API_RECURSOSHUMANOS": "http://localhost:5555/api",
        "API_TRAMITE": "http://127.0.0.1:8888/api",
        "API_PROJECT_TRACKING": "http://127.0.0.1:8887/api",
        "API_SIGNATURE": "http://127.0.0.1:8887/api",
        "URL_UNUJOBS": "http://localhost:8000",
        "URL_BOLETA": "http://localhost:8000/api/my_boleta"
    },
    "ws": {
        "API_SOCKET": {
            "host": "ws://localhost:3333",
            "path": "socket.io"
        }
    },
    "credencials": {
        "CLIENT_ID": "",
        "CLIENT_SECRET": ""
    },
    "headers": [],
    "apps" : [
        
    ]
}