{
    "app": {
        "name": "SIGA-UNU",
        "descripcion": "",
        "version": "1.0",
        "logo": "/img/logo-unu.png",
        "theme": "default",
        "env": "local",
        "css": ""
    },
    "url": {
        "API_AUTHENTICATION": "",
        "API_UNUJOBS": "",
        "URL_UNUJOBS": "",
        "URL_BOLETA": ""
    },
    "ws": {
        "API_AUTHENTICATION": "ws://localhost:3333"
    },
    "credencials": {
        "CLIENT_ID": "",
        "CLIENT_SECRET": ""
    },
    "apps" : [
        
    ]
}