/* put your own styles to customize and override the theme */


.img-content {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border: 1px solid #000;
}


.uppercase {
    text-transform: uppercase!important;
}

.loading-brand {
    transition: all 0.4s;
    transform: scale(1);
    animation-name: loading_zoom;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes loading_zoom {
    from {
        transition: all 0.4s;
        transform: scale(0.7);
    } to {
        transition: all 0.4s;
        transform: scale(0.9);
    }
}