/* put your own styles to customize and override the theme */


.img-content {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border: 1px solid #000;
}


.uppercase {
    text-transform: uppercase!important;
}

.loading-brand {
    transition: all 0.4s;
    transform: scale(1);
    animation-name: loading_zoom;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes loading_zoom {
    from {
        transition: all 0.4s;
        transform: scale(0.7);
    } to {
        transition: all 0.4s;
        transform: scale(0.9);
    }
}


.btn-change-img {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    font-size: 15px;
    z-index: 10;
    border: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.btn-change-img:focus {
    outline: none;
}


.progress {
    background: transparent;
}


.notify-icon {
    background: #cfd8dc;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #455a64;
}

.unread {
    background: #eceff1;
}

.unread-important {
    background: #eceff1!important;
}


.badge-purple, .bg-purple {
    background: #5e35b1;
    color: #fff;
}


.badge-orange, .bg-orange, .btn-orange {
    background: #ff5722;
    color: #fff!important;
}


.badge-red, .bg-red {
    background: #c62828;
    color: #fff;
}


/* dropzone */
.dropzone {
    width: 100%;
    border: 1.7px solid #42a5f5;
    border-style: dashed;
    border-spacing: 2em;
    border-radius: 0.4em;
    cursor: pointer;
}

.dropzone-color {
    color: #1976d2;
}


.dropzone-item-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.3em 0.5em;
    color: #f44336;
    cursor: pointer;
}


.dropzone-text {
    overflow: hidden!important;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.table-res {
    overflow: auto;
    min-height: 200px;
}


.opacity-1 { opacity: 1; }

.list-group-bordered {
    border-radius: .25rem;
}

.list-group-item-active {
    background: rgba(0, 0, 0, 0.05);
}

.timeline-h-100 {
    min-height: 100%!important;
}

.line-gray::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #90a4ae!important;
}


.bg-disabled {
    background: #ffebee!important;
}

.content-semaforo {
    display: flex;
    flex-direction: row;
}

.dia-verde .bg-semaforo {
    background: #00a28a!important;
    color: #fff!important;
}


.dia-amarillo .bg-semaforo {
    background: #f7c46c!important;
    color: #fff!important;
}


.dia-rojo .bg-semaforo {
    background: #c62828!important;
    color: #fff!important;
}


.odd:hover {
    transition: all 0.4s ease-in-out;
    background:rgba(0, 0, 0, 0.05)!important;
}


.ccff_preloader {
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}