
.table-excel {
	width: 100%;
	margin-bottom: 1em;
	border-collapse: collapse;
}

.table-excel thead th {
	background-color: #e1f5fe;
	border:1px solid #000!important;
}

.table-excel th,
.table-excel td {
	background-color: rgba(0, 0, 0, 0.03);
}

.table-excel th {
	font-weight:bold;
}

.table-excel tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.table-excel th,
.table-excel td {
	padding:0.5em;
	border: 1px solid #ccc!important;
}

.table-excel .no-wrap {
    white-space: nowrap;
}


.table-excel .warning {
	background: #ffecb3;
}

.table-excel .success {
	background: #c8e6c9;
}

.table-excel .danger {
	background: #ef9a9a;
}

.table-excel .primary {
	background: #bbdefb;
}