#page_change {
    position: fixed;
    z-index: 1000;
    top: 0px;
}


.page_loading{
    width: 0px;
    height: 0px;
    background:#00a28a;
    animation-duration: 2s;
    animation-name: slidein;
} 


@keyframes slidein {
    from {
      height: 60px;
      width: 10%
    }
  
    to {
        height: 60px;
        width: 65%
    }
}


.page_end {
    width: 0px;
    height: 0px;
    background: #00a28a;
    animation-duration: 1.5s;
    animation-name: slideout;
} 

@keyframes slideout {
    from {
      height: 60px;
      width: 80%
    }
    to {
        height: 60px;
        width: 100%
    }
  }


.capitalize {
    text-transform: capitalize;    
}


.login-fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: -1;
}


.fixed-error {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}


.fixed-error-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 0px #000;
    padding-top: 6em;
}


.fixed-error-button {
    padding-top: 0px;
    color: #1e88e5;
    text-shadow: 0px;
}


.form-error {
    color: #b71c1c!important;
}

.form-error input {
    border-color: #b71c1c;
}

.form-error input:focus {
    border-color: #b71c1c;
}


.app-main-extend {
    padding-top: 3.5em;
}


.btn-outline-file {
    border: 1px solid #000;
    cursor: pointer;
}

.btn-outline-file:hover {
    background: #000;
    color: #fff!important;
}