.elemento_left {
    width: 100%;
    max-width: 300px;
    min-height: 400px;
    margin: 10px;
    background: #b0bec5;
    border: 1px solid #d8d8d8;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
  }
  .elemento__image_left {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    background: #dbe4e7;
    overflow: hidden;
  }
   
  .elemento__image_left_h1 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    background: #d8d8d8;
    overflow: hidden;
    margin-bottom: 20px;
  }
   
  .elemento__image_left_p {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    background: #d8d8d8;
    overflow: hidden;
  }
   
  /* Animación: Efecto de arrastre hacia el lado derecho que instancia a la animación que más abajo explicamos */
  .elemento__image_left:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255,255,255, 1), rgba(255, 255, 255, 0.9));
    transform: translateX(-100%);
    animation: loading 1.5s infinite;
  }
   
  .elemento__image_left_h1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(255,255,255,0.15), rgba(0,0,0,0));
    transform: translateX(-100%);
    animation: loading 1.5s infinite;
  }
   
  .elemento__image_left_p:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(255,255,255,0.15), rgba(0,0,0,0));
    transform: translateX(-100%);
    animation: loading 1.5s infinite;
  }
   
  .elemento__image_left img {
    position: relative;
    max-width: 100%;
    z-index: 1;
  }
  .elemento__content_left {
    padding: 20px;
  }
  .elemento__heading_left {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
  }
  .elemento__heading_left:empty {
    width: 100%;
    height: 35px;
    background: #d8d8d8;
    margin-bottom: 20px;
  }
  .elemento__paragraph_left {
    margin: 0;
    font-size: 20px;
    line-height: 1.35;
  }
  .elemento__paragraph_left:empty {
    width: 90%;
    height: 20px;
    background: #d8d8d8;
  }



.elemento__image_left:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0.01), rgba(255,255,255,0.4), rgba(255,255,255,0.01));
    transform: translateX(-100%);
    animation: loading 1.5s infinite;
  }


  @-moz-keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
  @-webkit-keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
  @-o-keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }