.card.active {
  border: 1px solid #2887f3;
}

.card.active > * {
  color: #2887f3;
}

.card.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-active {
  border: 1.5px solid #263238 !important;
}

.toggle-edit {
  position: absolute;
  right: 15px;
  top: 0px;
}

.toggle-input {
  top: -20px;
  right: 10px;
}
